
@{
    ViewBag.Title = "Thank You!!";
    Layout = "~/Views/_LayoutPage.cshtml";
}

    <div>
        <p>
        @ViewBag.Name, thank you for shopping with us.<br />
        Your irder number is: @ViewBag.OrderNo<br />
        We hope to see you soon!<br />
        </p>
    </div>

